<label style="font-size:x-large; font-weight:bolder;">GitHub UserName</label>
<input type="text" class="form-control" [(ngModel)]="username">
<!-- <p class="my-2" >You have entered: {{username}}</p> -->
<button class="my-3 btn btn-dark" [disabled]="username===''" (click)="nameOutput()">Enter</button>
<div >
    <!-- *ngFor="let repeat of repeats" -->
    <h3 class="nameGit" *ngIf="jina; else def" [ngClass]="{nameEntered: jina==true }">{{identity}}</h3>
    <ng-template #def>
        <h3 class="defaultGit">Please enter your GitHub username!</h3>
    </ng-template>
</div>
<div>
    <button class="btn btn-dark my-3" (click)="gitProfile()">
        Display
    </button>
    <app-userlist [users]="users"></app-userlist>
</div>
<div class="row col-sm-12">
    <h2>Profile Picture</h2>
    <div class="col-sm-7 ppic" style="border:1px solid black;">
        <img src="{{gitImg}}" alt="user image" height="300px" width="300px" style="border-radius: 50%;"> 
    </div>
    <div class="col-sm-5">
        <h3>User Information</h3>
        <p>UserName: {{gitIdentityName}}</p>
        <p>Location: {{gitLocation}}</p>
        <div>
            <h3>GitHub Repository</h3>
            <iframe src="{{gitRepo}}" style="border: 1px solid black;">Repo</iframe>
        </div>
        <div class="btn btn-dark">
            <a href="{{gitRepo}}" target="_blank" style="text-decoration: none; color: white;">Github Repos</a>
        </div>
    </div>
</div>








